
body {
	background-size : 100%;
	margin: 0 auto;
	font-family: Arial, 'Lucida Sans Unicode';
	text-align: left;
	line-height: 1.5;
	font-size: 87.5%;
    background-color:#00BCD4
}

.body{
	margin: 0 auto;
	width: 100%;
	}
a{
	text-decoration: none;
}

 .mainheader{
	 background-color: red;
	 height:150px;
	 margin-top:-15px;
	position: relative;
	
 }
 
 #book_img {
	position: relative;
    height: 300px;
    width: auto;
    left: 67px;
    bottom: 282px;
    margin-top: 20px;
}
 
  #title{
	font-weight: bold;
    font-size: 27px;
    position: absolute;
    top: 30px;
    left: 120px;
    color: black;
	 
 }
 
 #title a{
	color:black;
}
  #subtitle{
	font-size: 15px;
	position: absolute;
	top:90px;
	left:350px;
	color:black;
 }
  nav{
	position: absolute;
	right:20px;
	top:20px;
 }	
 
 nav a{
	color:black;
 }	
 
 
 @media only screen and (min-width: 150px) and (max-width: 600px)
 {
	
 #title{
	 font-size:25px;
	 position: absolute;
	 left: 45px;
}


 #subtitle{
	font-size: 14px;
	position: absolute;
	top:90px;
	left:167px;
 }
 
 	 
 }
 
.auto-style3 img{
	float:right;
}

#Instagram{
	    margin-top: 57px;
    height: 54px;
    width: 55px;
    margin-right: -54px;
}

#Twitter{
	    margin-top: 107px;
    width: 57px;
    margin-right: -55px;
    height: 54px;
}
 /* Original Css*/
Table {
    margin-bottom: 15px;
    margin-left: 0px;
}

button {
    margin-top: 0px;
}

#btnExpandNew2 {
    margin-bottom: 20px;
}